.container {
  margin-top: 50px;
}

h2 {
  color: #555;
  font-size: 36px;
  font-weight: 700;
}

.table {
  font-size: 16px;
}

thead {
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

th {
  font-weight: 700;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

td {
  vertical-align: middle;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li:before {
  content: "\2022";
  color: #007bff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  margin-bottom: 5px;
}