
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">ici vous pouvez integrer vos histoire utlisateur</h5>
          <p class=" category">
            ici vous verrez tout les sprint
            <a href="">  </a>
          </p>
        </div>
        <div class=" card-body all-icons">
          <div class=" row ">
            <!--sprint-->
            <div
              [@slideInSprint]
               class="m-small font-icon-list col-lg-2 col-md-2 col-sm-2 col-xs-6 col-xs-6"
              *ngFor="let sp of sprints"
            >
              <div class=" font-icon-detail">
                
                <i class=" tim-icons tim-icons-lg  icon-user-run" ></i>
                <p>nombre d'histoire ticket : 3</p>
                <p style="margin-top:2px;">C'est votre sprint <strong>1</strong></p>
              </div>
            </div>
            <!--end-->
            <!--button pour ajouter sprint-->
            <div
              [@slideIn]="clickCount"
              (click)="move()"
              style="margin-left:2%;"
              class="btn-sm btn font-icon-list col-lg-1 col-md-2 col-sm-2 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail-no-cadre">
                
                <i class="fa fa-plus align-middle" style="margin-top:10%;font-size:50px;"></i>
      
              </div>
            </div>

          </div>
        </div>
      </div>
      <div>
      <div class="row">
      <details name="backlog" #detailElement  class="col-lg-12 border-top border-danger">
        <summary  class="d-flex bd-highlight mb-3">
          Backlog <i class="fa fa-angle-down m-1" aria-hidden="true"></i>
          <!--btn list des ticket histoire-->
          <button class="btn-lg btn-outline-danger ms-auto  bd-highlight" (click)="basculerElement()">
            <i class="fa fa-list" aria="hiden"></i>
          </button>
          <!--end btn-->
        </summary>
      <!--le product backlog table-->  
      <div class="example-container">
        <h2>To do</h2>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
      </div>
      <!--end-->
    </details>
    <!--nouveau element generer-->
    <div class="col-lg-5" [@fadeIn] *ngIf="elementCreated"  #newElement>
      <div class="example-container">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
      </div>
    </div>
    <!-- end -->
    </div>
    </div>
    </div>
  </div>
</div>
