
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">ici vous pouvez integrer vos histoire utlisateur</h5>
          <p class=" category">
            ici vous verrez tout les sprint
            <a href="">  </a>
          </p>
        </div>
        <div class=" card-body all-icons">
          <div class=" row ">
            <!--sprint-->
            <div
              class="m-small font-icon-list col-lg-2 col-md-2 col-sm-2 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail">
                
                <i class=" tim-icons tim-icons-lg  icon-user-run" ></i>
                <p>nombre d'histoire ticket : 3</p>
                <p style="margin-top:2px;">C'est votre sprint <strong>1</strong></p>
              </div>
            </div>
            <!--end-->
            <!--button pour ajouter sprint-->
            <div
              class="btn  m-small  font-icon-list col-lg-2 col-md-2 col-sm-2 col-xs-6 col-xs-6"
            >
              <div class="font-icon-detail-no-cadre">
                
                <i class="fa fa-plus align-middle" style="margin-top:10%;font-size:50px;"></i>
      
              </div>
            </div>

          </div>
        </div>
      </div>
      <details name="backlog">
        <summary>Backlog</summary>
      <!--le product backlog table-->  
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          </tbody>
          
      </table>
      <!--end-->
    </details>
    </div>
  </div>
</div>
